services:
  chattwin:
    build: .
    env_file: .env
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO} # Use the variable if it exists
      - DB_PORT=8000
      - DB_HOST=localhost
    depends_on:
      - chromadb
  ###### using chromadb but reality is this will be a prod ready db such as weaviate or pinecone 
  chromadb:
    # Pinning by Image + Tag + Digest
    image: chromadb/chroma:0.5.23@sha256:18e67eecc172abbcd9413d751bde64983b3d167fe497c98f979083eb24c0c942
    ports:
      - "8000:8000"
    volumes:
      - ./chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
      # Enable Authentication
      - CHROMA_SERVER_AUTH_PROVIDER=${CHROMA_SERVER_AUTH_PROVIDER}
      - CHROMA_SERVER_AUTH_CREDENTIALS=${CHROMA_SERVER_AUTH_CREDENTIALS}